flows.json
[{"id":"8c962d44.ac26d","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"21c65c53.613ed4","type":"function","z":"8c962d44.ac26d","name":"PreToken","func":"global.set(\"cm\",msg.payload.cm)\nglobal.set(\"bf\",msg.payload.bf)\nglobal.set(\"fa\",msg.payload.fa)\nglobal.set(\"wt\",msg.payload.wt)\nglobal.set(\"sp\",msg.payload.sp)\nglobal.set(\"ca\",msg.payload.ca)\nglobal.set(\"fag\",msg.payload.fag)\nglobal.set(\"ag\",msg.payload.ag)\nvar apikey=\"8iTRS_lQZ_DxgmBhZghigtCbu1TdiOiOM7pTSmo9OyNV\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":60,"y":360,"wires":[["2e459cf9.b59dd4"]]},{"id":"2e459cf9.b59dd4","type":"http request","z":"8c962d44.ac26d","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":512,"y":305,"wires":[["15348ce2.774c13"]]},{"id":"c62599a2.eb9628","type":"inject","z":"8c962d44.ac26d","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":158.5,"y":230.00000286102295,"wires":[["21c65c53.613ed4"]]},{"id":"1170c125.f2a13f","type":"debug","z":"8c962d44.ac26d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1310,"y":180,"wires":[]},{"id":"15348ce2.774c13","type":"function","z":"8c962d44.ac26d","name":"Pre Prediction","func":"var cm = global.get('cm')\nvar bf = global.get('bf')\nvar fa = global.get('fa')\nvar wt = global.get('wt')\nvar sp = global.get('sp')\nvar ca = global.get('ca')\nvar fag = global.get('fag')\nvar ag = global.get('ag')\nvar token=msg.payload.access_token\nvar instance_id=\"d8ca41b2-fbce-4aa8-b3c6-df024ed71e3f\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"Cement\", \"Blast Furnace Slag\", \"Fly Ash\", \"Water\", \"Superplasticizer\", \"Coarse Aggregate\", \"Fine Aggregate\", \"Age\"], \"values\": [[cm,bf,fa,wt,sp,ca,fag,ag]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":778,"y":280,"wires":[["75f433ea.41928c"]]},{"id":"75f433ea.41928c","type":"http request","z":"8c962d44.ac26d","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v4/deployments/3b498d1a-5bce-40c5-8e8e-23f4b4015fbc/predictions","tls":"","persist":false,"proxy":"","authType":"","x":970,"y":180,"wires":[["e18f9b02.db1c58"]]},{"id":"efd7109d.12253","type":"ui_form","z":"8c962d44.ac26d","name":"","label":"","group":"f951941a.63f968","order":0,"width":0,"height":0,"options":[{"label":"Cement","value":"cm","type":"number","required":true,"rows":null},{"label":"Blast Furnace Slag","value":"bf","type":"number","required":true,"rows":null},{"label":"Fly Ash","value":"fa","type":"number","required":true,"rows":null},{"label":"Water","value":"wt","type":"number","required":true,"rows":null},{"label":"Superplasticizer","value":"sp","type":"number","required":true,"rows":null},{"label":"Coarse Aggregate","value":"ca","type":"number","required":true,"rows":null},{"label":"Fine Aggregate","value":"fag","type":"number","required":true,"rows":null},{"label":"Age","value":"ag","type":"number","required":true,"rows":null}],"formValue":{"cm":"","bf":"","fa":"","wt":"","sp":"","ca":"","fag":"","ag":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":104,"y":359,"wires":[["21c65c53.613ed4"]]},{"id":"a23c4f3b.a27ef","type":"ui_text","z":"8c962d44.ac26d","group":"f951941a.63f968","order":1,"width":0,"height":0,"name":"","label":"compressive strength","format":"{{msg.payload}}","layout":"row-spread","x":880.6000366210938,"y":364.20001220703125,"wires":[]},{"id":"e18f9b02.db1c58","type":"function","z":"8c962d44.ac26d","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":738,"y":100,"wires":[["1170c125.f2a13f","a23c4f3b.a27ef"]]},{"id":"f951941a.63f968","type":"ui_group","z":"","name":"Default","tab":"99826666.5f0f78","order":1,"disp":true,"width":"6","collapse":false},{"id":"99826666.5f0f78","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]